RewriteEngine On

# Si la ruta no es un archivo existente, ni una carpeta
# Reescribir al index
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^api/(.+?)/?$ api/api.php?url=$1 [L,QSA]

RewriteRule ^empleado$ controladores/empleado/controller.empleado.php [L,QSA]
RewriteRule ^cliente$ controladores/cliente/controller.cliente.php [L,QSA]

RewriteRule ^pagina-principal$ homepage/home.php [L,QSA]

RewriteRule ^logout$ logout.php [L,QSA]

RewriteRule ^pagina-principal/login$ controladores/usuario/controller.usuario.php?page=login [L,QSA]
RewriteRule ^pagina-principal/register$ controladores/usuario/controller.usuario.php?page=register [L,QSA]

RewriteRule ^empleado/(.+?)/?$ controladores/empleado/controller.empleado.php?page=$1 [L,QSA]
RewriteRule ^cliente/(.+?)/?$  controladores/cliente/controller.cliente.php?page=$1 [L,QSA]